# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
db_backup.txt

# Environments
.env
.venv
env/
/venv/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Project specific data and results
data/
outputs/
*.jdx
*.csv
*.xlsx
*.png

# Jupyter Notebook
.ipynb_checkpoints

# Logs
pip-log.txt
*.log

package-lock.json
package.json
node_modules/
venv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc

.pytest_cache/
