# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
db_backup.txt

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Project specific data and results
data/
outputs/
*.jdx
*.csv
*.xlsx
*.png

# Jupyter Notebook
.ipynb_checkpoints

# Logs
pip-log.txt
*.log

# Build / Packages
package-lock.json
package.json
node_modules/

# Testing
.pytest_cache/

# General patterns for caches
**/__pycache__/
**/.pytest_cache/